.center-crosshair {
  position: fixed;
  left: 50%;
  top: calc(50% + (var(--top-bar-height) - var(--bottom-bar-height)) / 2);
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1100;
  opacity: 0.25;
}

.center-crosshair::before,
.center-crosshair::after {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.center-crosshair::before {
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  transform: translateX(-50%);
}

.center-crosshair::after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
}
